{% extends 'base.html' %}


{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
           <!-- Información de la Empresa -->
           <h2>Información de la Empresa</h2>
           <hr>
           <p>Nombre: BARUS S.A.</p>
           <p>Dirección: Avenida de la Reina Mercedes, s/n, 41012, Sevilla </p>
           <p>Números de teléfono: +34 666 666 666</p>
           <p>Correo electrónico: info@barus.com</p> 
        </div>
        <div class="col-md-6">
            <h2>Horario de Atención</h2>
            <hr>
            <p>Lunes a viernes: 9:00 AM - 6:00 PM</p>
            <p>Sábados y domingos: Cerrado</p>
        </div>
    </div>
</div>
{% endblock %}
