{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<body>

    <div class="container">
        <h1 class="text-center" style="margin-top: 25px;">CATÁLOGO DE PRODUCTOS</h1>
        <form method="post" action="{% url 'catalogo' %}" id="miFormulario">
            {% csrf_token %}
            <label for="dropdown">Sección</label>
            <select id="dropdown" name="opcion">
                <option value="general" {% if opcion_seleccionada == 'general' and opcion_seleccionada != None %}selected{% endif %}>General</option>
                <option value="interior" {% if opcion_seleccionada == 'interior' %}selected{% endif %}>Interior</option>
                <option value="exterior" {% if opcion_seleccionada == 'exterior' %}selected{% endif %}>Exterior</option>
                <option value="maquinaria" {% if opcion_seleccionada == 'maquinaria' %}selected{% endif %}>Maquinaria</option>
            </select>
        </form>
      <!-- Botón para la búsqueda de productos-->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="{% url 'resultados_busqueda' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="Buscar" value="{{ request.GET.Buscar }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
        
        <hr />
        <div class="row justify-content-around">
            {% for producto in productos %}
            <a class="col-3" href="/producto/{{ producto.pk }}" style="text-decoration: none;">
                <div class="card" style="padding-left: 0; padding-right: 0;">
                    {% if producto.imagen %}
                    <div class="mx-auto"
                        style="height: 250px; background-image: url({% static 'media/productos/' %}{{ producto.imagen }}); background-size: cover; width: 100%; background-position: center;">
                    </div>
                    {% endif %}
                    <div>
                        <div class="card-body">
                            <h3 class="card-title">{{ producto.nombre }}</h3>
                            <div class="row">
                                <p class="col-9">{{ producto.precio }} €</p>
                                <form method="POST" action="{% url 'agregar_al_carrito' %}" class="text-center col-3">
                                    {% csrf_token %}
                                    <!-- Agregar campos ocultos o parámetros necesarios para identificar el producto -->
                                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                    <button type="submit" class="btn btn-warning text-center" title="Añadir al carrito"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock%}
</html>

<script>
    document.getElementById("dropdown").addEventListener("change", function() {
        document.getElementById("miFormulario").submit();
    });
    </script>