<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>CATÁLOGO DE PRODUCTOS</title>
    {% load static %}
    <h1>CATÁLOGO DE PRODUCTOS</h1>

</head>
{% endblock %}

{% block cuerpo %}
<body>
    <!-- Botón para la búsqueda de productos-->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="{% url 'resultados_busqueda' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="Buscar" value="{{ request.GET.Buscar }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>



{% for seccion, productos in productos_por_seccion.items %}
    <h2>{{ seccion }}</h2>

    {% for producto in productos %}
        <div>
            <h3>{{ producto.nombre }}</h3>
            <p>Precio: {{ producto.precio }}</p>
            {% if producto.imagen %}
                <img src="{% static 'media/productos/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}
</body>
{% endblock%}
</html>



