{% load static %}
<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>CATÁLOGO DE PRODUCTOS</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/proyectopgpi/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block cuerpo %}
<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Barus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                </ul>
                <a href="/carrito"><button type="button" class="btn btn-primary position-relative" style="margin-right: 10px;">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ num_productos_carrito }}
                    </span>
                  </button>
                </a>
                {% if logueado %}
                <span class="navbar-text">
                    <a href="/authentication/logout-view"><button class="btn btn-secondary">Logout</button></a>
                </span>
                {% endif %}
                {% if not logueado %}
                <span class="navbar-text">
                    <a href="/login/"><button class="btn btn-secondary">Login</button></a>
                </span>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center" style="margin-top: 25px;">CATÁLOGO DE PRODUCTOS</h1>
        <form method="post" action="{% url 'catalogo' %}" id="miFormulario">
            {% csrf_token %}
            <label for="dropdown">Sección</label>
            <select id="dropdown" name="opcion">
                <option value="general" {% if opcion_seleccionada == 'general' and opcion_seleccionada != None %}selected{% endif %}>General</option>
                <option value="interior" {% if opcion_seleccionada == 'interior' %}selected{% endif %}>Interior</option>
                <option value="exterior" {% if opcion_seleccionada == 'exterior' %}selected{% endif %}>Exterior</option>
                <option value="maquinaria" {% if opcion_seleccionada == 'maquinaria' %}selected{% endif %}>Maquinaria</option>
            </select>
        </form>
      <!-- Botón para la búsqueda de productos-->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="{% url 'resultados_busqueda' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="Buscar" value="{{ request.GET.Buscar }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
        
        <hr />
        <div class="row justify-content-around">
            {% for producto in productos %}
            <a class="col-3" href="/producto/{{ producto.pk }}" style="text-decoration: none;">
                <div class="card" style="padding-left: 0; padding-right: 0;">
                    {% if producto.imagen %}
                    <div class="mx-auto"
                        style="height: 250px; background-image: url({% static 'media/productos/' %}{{ producto.imagen }}); background-size: cover; width: 100%; background-position: center;">
                    </div>
                    {% endif %}
                    <div>
                        <div class="card-body">
                            <h3 class="card-title">{{ producto.nombre }}</h3>
                            <div class="row">
                                <p class="col-9">{{ producto.precio }}€</p>
                                <form method="POST" action="{% url 'agregar_al_carrito' %}" class="text-center col-3">
                                    {% csrf_token %}
                                    <!-- Agregar campos ocultos o parámetros necesarios para identificar el producto -->
                                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                    <button type="submit" class="btn btn-warning text-center" title="Añadir al carrito"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock%}
</html>

<script>
    document.getElementById("dropdown").addEventListener("change", function() {
        document.getElementById("miFormulario").submit();
    });
    </script>