{% extends 'authentication/templates/base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>PÁGINA DE CONTACTO</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/proyectopgpi/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block cuerpo %}
<body>

    <div class="container">
        hola
    </div>

</body>
{% endblock %}
        