{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">

    <div class="container mt-4">
        <h1 class="mb-4">Carrito de {{ usuario }}</h1>
    
        <!-- Mostrar los productos en el carrito -->
        <ul class="list-group">
            {% for item in carrito.itemcarrito_set.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">{{ item.cantidad }} unidad/es de </span>
                    <span class="font-weight-bold">{{ item.producto.nombre }}</span> -
                    <span class="text-muted">{{ item.producto.precio }}€/unidad</span>
                </div>
                <div class="input-group" style="width: 150px;">
                    <form method="post" action="{% url 'actualizar_carrito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1" max = "{{item.producto.stock}}" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                        </div>
                    </form>
                    <form method="post" action="{% url 'borrar_del_carrito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    
        <div class="mt-3">
            <h5>Total: {{ carrito.total }}€</h5>
            <h5>Gastos de envío: {{ carrito.gastos_envio }}€</h5>
            <ul>
                <li>
                    Para pedidos inferiores a 50€: 5€
                </li>
                <li>
                    Para pedidos superiores a 50€: Envío gratuito
                </li>
            </ul>           
        </div>
    </div>
    
    <!-- Otros detalles o funcionalidades del carrito -->

    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Detalles de la Dirección
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Nombre:</strong> {{ direccion.nombre }} {{ direccion.apellidos }}</li>
                    <li class="list-group-item"><strong>Dirección:</strong> {{ direccion.direccion }}</li>
                    <li class="list-group-item"><strong>Código Postal:</strong> {{ direccion.codigo_postal }}</li>
                    <li class="list-group-item"><strong>Municipio:</strong> {{ direccion.municipio }}</li>
                    <li class="list-group-item"><strong>Provincia:</strong> {{ direccion.provincia }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ direccion.email }}</li>
                    <li class="list-group-item"><strong>Teléfono:</strong> {{ direccion.telefono }}</li>
                </ul>
            </div>
            <div class="card-footer">
                {% if direccion is None %}
                    <a href="/direccion/"><button type="button" class="btn btn-warning">Crear Dirección</button></a>
                {% else %}
                    <a href="/direccion/"><button type="button" class="btn btn-warning">Modificar Dirección</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <br>

   

    <!-- Botones de acción -->
    <div class="row mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <form action="{% url 'carrito' %}" method="post">
                <div class="form-group">
                    <label for="metodo_pago">Método de pago:</label>
                    <select id="metodo_pago" name="metodo_pago" class="form-control" required>
                        <option value="Tarjeta">Tarjeta</option>
                        <option value="Contra reembolso">Contra reembolso</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3"{% if direccion is None or carrito.productos.count == 0   %} disabled {% endif %}>Realizar Pedido</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    
</div>

<script>
    function actualizarMax(input) {
        var stock = parseFloat(input.getAttribute('data-stock'));
        var id = input.id.split('_')[1]; // Obtener el ID del elemento

        var cantidadActual = parseFloat(input.value);
        var campoCantidad = document.getElementById('cantidad_' + id);
        campoCantidad.setAttribute('max', stock + cantidadActual);
    }
</script>

{% endblock %}