{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">

    <h1>Carrito de {{ usuario }}</h1>
    <!-- Mostrar los productos en el carrito -->
    <ul class="list-group">
        {% for item in carrito.itemcarrito_set.all %}
        <li class="list-group-item">
            {{ item.producto.nombre }} - {{ item.producto.precio }}
            <form method="post" action="{% url 'actualizar_carrito' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1">
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </form>
            <form method="post" action="{% url 'borrar_del_carrito' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <div>Total: {{ carrito.total }}</div>
    <!-- Otros detalles o funcionalidades del carrito -->

    <!-- Botones de acción -->
    <a href="/"><button type="button" class="btn btn-secondary">Cerrar</button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'pago_usuario_registrado' %}"><button type="button" class="btn btn-primary">Realizar Pedido</button></a>
    {% else %}
        <a href="{% url 'pago_usuario_no_registrado' %}"><button type="button" class="btn btn-primary">Realizar Pedido</button></a>
    {% endif %}
</div>
{% endblock%}