{% load static %}
<!DOCTYPE html>
<html lang="es">

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Catálogo de productos</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block contenido %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Barus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'mis_pedidos' %}">Mis pedidos</a>
                </li>
                {% if logueado %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'reclamaciones' %}">Reclamaciones</a>
                </li>
                {% endif %}
            </ul>
            <a href="/carrito"><button type="button" class="btn btn-primary position-relative" style="margin-right: 10px;">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ num_productos_carrito }}
                </span>
              </button>
            </a>
            {% if logueado %}
            <span class="navbar-text">
                <a href="/authentication/logout-view"><button class="btn btn-secondary">Cerrar sesión</button></a>
            </span>
            {% endif %}
            {% if not logueado %}
            <span class="navbar-text">
                <a href="/login/"><button class="btn btn-secondary">Iniciar sesión</button></a>
            </span>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">

    <div class="container mt-4">
        <h1 class="mb-4">Carrito de {{ usuario }}</h1>
    
        <!-- Mostrar los productos en el carrito -->
        <ul class="list-group">
            {% for item in carrito.itemcarrito_set.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <span class="font-weight-bold">{{ item.cantidad }} unidad/es de </span>
                    <span class="font-weight-bold">{{ item.producto.nombre }}</span> -
                    <span class="text-muted">{{ item.producto.precio }}€/unidad</span>
                </div>
                
                <div class="input-group" style="width: 150px;">
                    <form method="post" action="{% url 'actualizar_carrito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1" max = "{{item.producto.stock}}" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                        </div>
                    </form>
                    <form method="post" action="{% url 'borrar_del_carrito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>

        <form action="{% url 'forma_entrega' %}" method="post" id="miFormulario">
            {% csrf_token %}
            <div class="form-group">
                <label for="dropdown">Forma de entrega</label>
                <select id="dropdown" name="opcion" class="form-control">
                    <option value="Estandar" {% if opcion_seleccionada == 'Estandar' %}selected{% endif %}>Estandar</option>
                    <option value="Express" {% if opcion_seleccionada == 'Express' %}selected{% endif %}>Express</option>
                </select>
            </div>
        </form>
    
        <div class="mt-3">
            <h5>Total: {{ carrito.total }}€</h5>
            <h5>Gastos de envío: {{ carrito.gastos_envio }}€</h5>
            <ul>
                <li>
                    <strong>Estándar: </strong>5€, Envíos gratuitos a partir de 150€.
                </li>
                <li>
                    <strong>Express: </strong>30€, Envíos gratuitos a partir de 900€.
                </li>
            </ul>           
        </div>
    </div>
    
    <!-- Otros detalles o funcionalidades del carrito -->

    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Detalles de la Dirección
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Nombre:</strong> {{ direccion.nombre }} {{ direccion.apellidos }}</li>
                    <li class="list-group-item"><strong>Dirección:</strong> {{ direccion.direccion }}</li>
                    <li class="list-group-item"><strong>Código Postal:</strong> {{ direccion.codigo_postal }}</li>
                    <li class="list-group-item"><strong>Municipio:</strong> {{ direccion.municipio }}</li>
                    <li class="list-group-item"><strong>Provincia:</strong> {{ direccion.provincia }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ direccion.email }}</li>
                    <li class="list-group-item"><strong>Teléfono:</strong> {{ direccion.telefono }}</li>
                </ul>
            </div>
            <div class="card-footer">
                {% if direccion is None %}
                    <a href="/direccion/"><button type="button" class="btn btn-warning">Crear Dirección</button></a>
                {% else %}
                    <a href="/direccion/"><button type="button" class="btn btn-warning">{% if direccion.nombre == '' %}Crear Dirección{% endif %}{% if direccion.nombre != '' %}Modificar Dirección{% endif %}</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <br>

   

    <!-- Botones de acción -->
    <div class="row mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <form action="{% url 'carrito' %}" method="post">
                {% if logueado %}
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" id="guardar_direccion" name="guardar_direccion" class="form-check-input">
                        <label class="form-check-label" for="guardar_direccion">Guardar dirección</label>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="metodo_pago">Método de pago:</label>
                    <select id="metodo_pago" name="metodo_pago" class="form-control" required>
                        <option value="Tarjeta">Tarjeta</option>
                        <option value="Contra reembolso">Contra reembolso</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3"{% if boton == False %} disabled {% else %} {% if direccion.nombre == '' or carrito.productos.count == 0 or direccion is None %} disabled {% endif %}{% endif %}>Realizar Pedido</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    
</div>

<script>
    function actualizarMax(input) {
        var stock = parseFloat(input.getAttribute('data-stock'));
        var id = input.id.split('_')[1]; // Obtener el ID del elemento

        var cantidadActual = parseFloat(input.value);
        var campoCantidad = document.getElementById('cantidad_' + id);
        campoCantidad.setAttribute('max', stock + cantidadActual);
    }
</script>

{% endblock %}

<script>
    // Función para enviar automáticamente el formulario cuando cambia el menú desplegable o el rango de precios
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener elementos
        const dropdown = document.getElementById('dropdown');

        // Función para enviar el formulario cuando cambia el menú desplegable
        dropdown.addEventListener('input', function() {
            document.getElementById('miFormulario').submit();
        });

    });
</script>