{% extends 'base.html' %}
{% load static %}

{% block title %}
    Direccion del pedido
{% endblock %}

{% block contenido %}
    <div class="container">


        <!-- Formulario de Datos de Pago -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <h2 class="mb-3">Datos de usuario</h2>
                <form method="post" action="{% url 'crear_direccion' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="codigo_postal" class="form-label">Código postal</label>
                        <input type="text" pattern="{5}\d" class="form-control" id="codigo_postal" name="codigo_postal" required>
                    </div>
                    <div class="mb-3">
                        <label for="municipio" class="form-label">Municipio</label>
                        <input type="text" class="form-control" id="municipio" name="municipio" required>
                    </div>
                    <div class="mb-3">
                        <label for="provincia" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="provincia" name="provincia" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Dirección</button>
                </form>
            </div>
        </div>
    </div>

</body>
{% endblock %}

</html>
