{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-4">
    <h2>Listado de Pedidos</h2>
    <hr>
    <form method="GET" action="{% url 'buscar_pedidos' %}">
        {% csrf_token %}
        <label for="numero_pedido">Buscar por número de pedido:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="numero_pedido" name="numero_pedido">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </form>
    <hr>
    {% for pedido in pedidos %}
        <div class="card mb-4">
            <div class="card-header">
                <p>Pedido #{{ pedido.id }}</p>
                <p>Número de pedido #{{ pedido.num_de_pedido }}</p>
                
            </div>
            <div class="card-body">
                <h5 class="card-title">Productos en el pedido:</h5>
                <ul class="list-group">
                    {% for item in pedido.carrito.itemcarrito_set.all %}
                        <li class="list-group-item">
                            {{ item.producto.nombre }} - Cantidad: {{ item.cantidad }}
                        </li>
                    {% endfor %}
                    <br>
                    <p><strong>Estado del pedido: </strong> {{ pedido.estado }}</p>
                </ul>

            </div>
            <div class="card-footer">
                <h6>Dirección de Envío:</h6>
                <p><strong>Nombre:</strong> {{ pedido.direccion.nombre }} {{ pedido.direccion.apellidos }}</p>
                <p><strong>Dirección:</strong> {{ pedido.direccion.direccion }}</p>
                <p><strong>Código Postal:</strong> {{ pedido.direccion.codigo_postal }}</p>
                <p><strong>Municipio:</strong> {{ pedido.direccion.municipio }}</p>
                <p><strong>Provincia:</strong> {{ pedido.direccion.provincia }}</p>
                <p><strong>Email:</strong> {{ pedido.direccion.email }}</p>
                <p><strong>Teléfono:</strong> {{ pedido.direccion.telefono }}</p>
            </div>
        </div>
    {% endfor %}

</div>

<!-- Agrega el enlace al script de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
{% endblock%}